{% extends 'base.html.twig' %}

{% block title %}Panier des produits{% endblock %}

{% block body %}
  <div class="container">
    {% for message in app.flashes('message') %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    <div class="row">
      <div class="col">
        <h1>Votre panier</h1>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr>
              {# <th scope="col">Id</th> #}
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
              <th scope="col">Prix</th>
              <th scope="col">Quantité</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {# { % for produit in lePanier %}
              <tr>
                {# <td>{ { produit.id }}</td> #}
                <td scope="col">{ { produit.nom }}</td>
                <td>{ { produit.description }}</td>
                <td>{ { produit.prix }} €</td>
                <td>{ { produit.quantite }}</td>
                <td>
                  <a href="{ { path('produit_show', {'id': produit.id}) }}">Voir la fiche</a>
                  <a href="{ { path('produit_delete', {'id': produit.id}) }}">Supprimer</a>
                </td>
              </tr>
            { % else %}
              <tr>
                <td colspan="6">Vous n'avez aucun produit dans votre panier.</td>
              </tr>
            { % endfor %} #}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  {# <a href="{ { path('produit_new') }}">Create new</a> #}
{% endblock %}
